body {
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,59,224,0.88) 0%, rgba(5,207,249,1) 100%); 
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}